# IDE and editors
.idea/
.vscode/

# Dependencies
node_modules/
.pnp/
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build outputs
/build
dist/
dist
.next/
out/
coverage
.pytest_cache/
.cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dump.rdb

# Environment files
*.env
*.env.*

# Python
__pycache__/
*.pyc
venv/
.venv/

# Data files
*.db

# Test artifacts
*_test_results.json

# Misc
.DS_Store
*.pem
chainlit.md
.chainlit
.ipynb_checkpoints/
.vercel
android-sdk/
agenthub/agents/youtube/db
**/*.zip
**/*.tar.gz
**/*.tar
**/*.tgz
*.pack
*.deb
*.dylib
